.pokemons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  /* overflow-y: scroll; */
  padding: 0;
  margin: 0;
}

.pokemon {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: space-between;
  margin: 0.5rem 0.25rem;
  min-width: 188px;
  padding: 0.8rem;
  width: 18.5%;
}

.pokemon:hover {
  box-shadow: rgba(136, 165, 191, 0.7) 8px 4px 18px 0px, rgba(255, 255, 255, 1) -8px -4px 18px 0px;
}

.pokemonHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.pokemon .number {
  /* color: #46CBAB; */
  font-size: 0.6rem;
  opacity: 0.3;
  text-align: end;
}

.pokemon .name {
  font-size: clamp(1rem, 1.2rem + 2.4vw, 2.4vw);
  margin-bottom: 0.4rem;
}

.pokemon .details {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
}

.pokemon .details img {
  font-size: 0.8rem;
  max-width: 100%;
  height: auto;
  width: 50%;
}

.pokemon .types {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 40%;
}

.pokemon .types li {
  border-radius: 15px;
  filter: brightness(1.2);
  font-size: clamp(0.8rem, 0.8rem + 1.4vw, 1.6vw);
  margin: 0.4rem 0;
  padding: 0.25rem;
  text-align: center;
  width: 100%;
}

.pages {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pages img {
  width: 10rem;
}

.normal {
  background-color: #a6a877;
  opacity: 0.9;
}

.grass {
  background-color: #77c850;
  opacity: 0.9;
}

.fire {
  background-color: #ee7f30;
  opacity: 0.9;
}

.water {
  background-color: #678fee;
  opacity: 0.9;
}

.eletric {
  background-color:#f7cf2e;
  opacity: 0.9;
}

.ice { 
  background-color: #98d5d7;
  opacity: 0.9;
}

.ground {
  background-color: #dfbf69;
  opacity: 0.9;
}

.flying {
  background-color: #a98ff0;
  opacity: 0.9;
}

.poison { 
  background-color: #a040a0;
  opacity: 0.9;
}

.fighting {
  background-color: #bf3029;
  opacity: 0.9;
}

.psychic {
  background-color: #f65687;
  opacity: 0.9;
}

.bug { 
  background-color: #a8b720;
  opacity: 0.9;
}

.rock {
  background-color: #b8a137;
  opacity: 0.9;
}

.ghost {
  background-color: #6e5896;
  opacity: 0.9;
}

.dragon { 
  background-color: #6f38f6;
  opacity: 0.9;
}

.dark {
  background-color: #725847;
  opacity: 0.9;
}

.steel {
  background-color: #b9b7cf;
  opacity: 0.9;
}
.fairy {
  background-color: #f9aec7;
  opacity: 0.9;
}

.unknown {
  background-color: #68a090;
  opacity: 0.9;
}

.shadow {
  background-color: #493963;
  opacity: 0.9;
}
